.project-main {
  background-image: url("./img/projects.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: calc(100vh - 60%);
  padding-top: 100px;
}

.project {
  position: relative;
  padding: 2.5rem;
  .project-info {
    position: relative;
    padding: 0.5rem;
    margin: 50px 10px 50px 10px;
    background: $primary-color;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    h4,
    p {
      color: $inactive-color;
    }

    .project-img:hover > .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #000;
      opacity: 0.5;
      border-radius: 30px;
    }

    .overlay {
      display: flex;
      justify-content: space-around;
      line-height: 10px;

      input {
        position: relative;

        height: 35px;
        margin-top: 35%;
        display: none;
      }
    }

    .img {
      background-size: cover;
      width: 250px;
      height: 200px;
      position: relative;

      &:hover {
        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(255, 38, 0, 0.5);
          input {
            display: block;
            outline: none;
            box-shadow: none;
          }
        }
      }
    }

    .project1-img {
      background-image: url("./img/burger.jpg");
    }

    .project2-img {
      background-image: url("./img/portfolio.png");
    }

    .project3-img {
      background-image: url("./img/ecommerce.png");
    }

    .project4-img {
      background-image: url("./img/facerecog.png");
    }

    .project-content {
      position: absolute;
      left: 20%;
      top: 5%;
      padding: 1.5rem 1.5rem 0 5rem;
    }
  }
}
